<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Details</title>
</head>
<body>
<h1>Client Details</h1>
<div>
    <p>Name: <span th:text="${client.getFull_name()}"></span></p>
    <p>Email: <span th:text="${client.getEmail()}"></span></p>
    <p>Phone: <span th:text="${client.getPhone_number()}"></span></p>
    <p>Address: <span th:text="${client.getAddress()}"></span></p>
</div>
<div>
    <h2>Rented Films</h2>
    <ul>
        <li th:each="history : ${rentedFilms}">
            <span th:text="${history.getFilmCopyId()}"></span> (Rented on <span th:text="${history.getDateOfIssue()}"></span>)
        </li>
    </ul>
</div>
</body>
</html>