p{
    /*color: red;*/
    font: 2rem red;
}
.btn-order{
    border-radius: 4px;
    border: solid dodgerblue 1px;
}
.cart-control{
    display: flex;
    height: 2rem;
    align-items: center;
}
.cart-sum{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
}